<h1>Pirates</h1>

    <div class='pirate'>
        <h3>Name: <%= @pirate.name %></h3><br>
        <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
        <h5>Height: <%= @pirate.height %> inches</h5>
    </div><br>

<h1>Ships</h1>
    <% @ships.each do |x| %>
        <div class='ship'>
            <p>Name: <%= x.name %></p><br>
            <p>Type: <%= x.type %></p><br>
            <p>Booty: <%= x.booty %></p>
        </div><br>
    <% end %>